@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#logo {
    color: #03a6a6;
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #260273;
}

li {
    padding: 0 1rem;
}

li a{    
    color: #cdfff6;
    transition: .5s;
    text-align: center;
    
}

li:hover {
    background-color: rgba(253, 0, 0, 0.5);
    border-radius: 40px 0;
    padding: 0 1rem;
    margin: 0 .2rem;
    transition: .5s;
}

#menu {
    display: flex;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

/*mobile responsive 600px*/

@media (max-width: 666px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        height: 0;
        right: 0;
        background: #260273;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow: auto;
    }

    #menu a {
        padding: 1rem 0;
        border-bottom: 2px solid rgba(189, 189, 189, 0.05);
    }

    #btn-mobile {
        display: flex;
        color: #cdfff6;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }
    
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform:  rotate(-135deg);
        top: -7px;
    }
}